<div class="large-6 columns portfolio_wrapper">
	<div class="website"> 
		<div class="header">Aalto Photography</div>	

		<div class="description">
			Personal Site of Photographer Patrick Aalto.<br />
			<%= link_to 'http://yo-patrick-whatup.herokuapp.com/', 'http://yo-patrick-whatup.herokuapp.com/' %>
		</div>
	</div>

	<div class="website"> 
		<div class="header">Rhythm and Strings Music Therapy</div>	

		<div class="description">
			Website and Blog for Portland based Music Therapist Mariee Durfee.<br />
			<%= link_to 'http://www.rhythmandstrings.com/', 'http://www.rhythmandstrings.com/' %>
		</div>
	</div>


	<div class="website"> 
		<div class="header">Impact Performance Training</div>	

		<div class="description">
			Website for Newburg based Gym and Training facility.<br />
			<%= link_to 'http://impactperformancetraining.net/', 'http://impactperformancetraining.net/' %>
		</div>
	</div>

	<div class="website"> 
		<div class="header">Dewey Nielsen</div>	

		<div class="description">
			Personal Website of Physical Trainer Dewey Nielsen.<br />
			<%= link_to 'http://deweynielsen.com/', 'http://deweynielsen.com/' %>
		</div>
	</div>

	<div class="website"> 
		<div class="header">Fitment Garage</div>	

		<div class="description">
			Australia Car Parts company.<br />
			<%= link_to 'http://www.fitmentgarage.com/', 'http://www.fitmentgarage.com/' %>
		</div>
	</div>

	<div class="website"> 
		<div class="header">Backscratch</div>	

		<div class="description">
			A simple todo app built with Backbone.js<br />
			<%= link_to 'http://backscratch.herokuapp.com/', 'http://backscratch.herokuapp.com/' %>
		</div>
	</div>
</div>

<div class="large-6 columns">
	<div class="images">
		<ul class="clearing-thumbs" data-clearing>
			<li><%= link_to image_tag('dewey-thumb.jpg'), '/assets/dewey.jpg' %></li>
			<li><%= link_to image_tag('impact-about-thumb.jpg'), '/assets/impact-about.jpg' %></li>
			<li><%= link_to image_tag('marie-home-thumb.jpg'), '/assets/marie-home.jpg' %></li>
			<li><%= link_to image_tag('marie-service-thumb.jpg'), '/assets/marie-service.jpg' %></li>
			<li><%= link_to image_tag('membership-thumb.jpg'), '/assets/membership.jpg' %></li>
			<li><%= link_to image_tag('patrick-blog-thumb.jpg'), '/assets/patrick-blog.jpg' %></li>
			<li><%= link_to image_tag('patrick-home-thumb.jpg'), '/assets/patrick-home.jpg' %></li>
			<li><%= link_to image_tag('dewey-post-thumb.jpg'), '/assets/dewey-post.jpg' %></li>
			<li><%= link_to image_tag('patrick-weddings-thumb.jpg'), '/assets/patrick-weddings.jpg' %></li>
			<li><%= link_to image_tag('patrick-photos-thumb.jpg'), '/assets/patrick-photos.jpg' %></li>
		</ul>	
	</div>
</div>

