<%= image_tag @blog.pic(:thumb) %>


<h2><%= @blog.title %></h2>

<p><%= markdown @blog.body %><p>

<% if admin_signed_in? %>
	<%= link_to 'Edit', edit_blog_path(@blog), class: 'button' %>
	<%= link_to 'Destroy', blog_path, method: :delete, class: 'button' %>
<% end %>
