<div class="header_wrapper row">
	<div class="large-9 medium-7 small-6 columns">
		<h1><%= link_to 'David Begin', root_path %> </h1>
		<%= link_to 'Portfolio', portfolio_path %>
	</div>
	<div class="large-3 medium-4 small-6 columns">
		<%= link_to 'https://github.com/presidentJFK', class: 'github' do %>
			<%= fa_icon "github" %>
		<% end %>
		<%= link_to "mailto:davidmichaelbe@gmail.com?subject=Hello David!" do %>
			<%= fa_icon "envelope-o" %>
		<% end %>
	</div>
</div>
